/* Footer */
#footer {
    background-color: var(--bgcolor-footer);
    min-height: 100px;
    padding: 0 0.5em 2em 0.5em; 
}
#footer .layout {
    padding-top: 2em;
}
#footer-logo {
    align-items: center;
    background-color: var(--color-accent-dark);
    border-radius: 50%;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;

    img {
        filter: invert(1);
    }
}
