:root {
    --global-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --color-primary-light: #fff;
    --color-accent-dark: #000;
    --color-accent-mediumdark: #928d8d;
    --color-accent-secondary: #862647;
    --color-accent-tertiary: #FFB119;
    --color-accent-cta: #3B81F6;
    --color-accent-muted: #717886;
    --color-accent-error: #B61335;
    --color-border-input: #E0E0E3;
    --color-border-input-active: #9C9D9C;
    --color-border-dash: #E5E7EB;
    --color-border-button: #E6EBEF;
    --color-border-plan: #EBECF0;
    --color-link: var(--color-accent-dark);
    --color-link-hover: #119bc8;
    --bgcolor-header: var(--color-primary-light);
    --bgcolor-mobile-megamenu: #E0E0E3;
    --bgcolor-menu: var(--color-accent-dark);
    --bgcolor-form: var(--color-primary-light);
    --bgcolor-input: #F9F9F9;
    --bgcolor-date-button: #F8F9FA;
    --bgcolor-content-page: #E5E5E5;
    --bgcolor-plans-page: #F7F9FA;
    --bgcolor-datepicker-booked: #FFE0E2;
    --bgcolor-footer: #F9F9F9;
    --bgcolor-aside: #c8edea;
    --width-inset: 780px;
    --width-wide: 940px;
}
