<div id="header">
    <div id="header-nav">
        <div id="header-logo">
            <a href="/" class="header-main-item" id="home-link">
                <span class="logo-img">
                    <img src="/images/icons/camp-spots-logo.svg" />
                </span>
                <span class="logo-text">CampSpots</span>
            </a>
        </div>
        <nav id="header-megamenu">
            <div class="megamenu-section">
                <div class="megamenu-navitem header-main-item" id="megamenu-item1">Plan Your Trip</div>
                <div class="megamenu-submenu">
                    <div class="megamenu-submenu-group">
                        <div class="megamenu-submenu-header">
                            Find Your Adventure
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="/plan-your-trip/listings.html">Find a camping spot</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="/plan-your-trip/events.html">Events</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="/plan-your-trip/passes.html">Passes</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="/plan-your-trip/trip-ideas.html">Trip Ideas</a>
                        </div>
                    </div>
                    <div class="megamenu-submenu-group">
                        <div class="megamenu-submenu-header">
                            Trip Types
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="/plan-your-trip/trip-ideas.html#tent-camping">Tent camping</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="/plan-your-trip/trip-ideas.html#yurt-camping">Yurt camping</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="/plan-your-trip/trip-ideas.html#van-camping">Van camping</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="/plan-your-trip/trip-ideas.html#luxury-camping">Luxury glamping</a>
                        </div>
                    </div>
                    <div class="megamenu-submenu-image-block">
                        <img src="/images/driving-map.jpg">
                        <a href="/plan-your-trip/listings.html" class="megamenu-submenu-linkblock">
                            <img src="/images/icons/icon-map.svg" />
                            All sites
                        </a>
                    </div>
                    <div class="megamenu-submenu-image-block">
                        <img src="/images/rv-parks.jpg">
                        <a href="#"class="megamenu-submenu-linkblock">
                            <img src="/images/icons/icon-location.svg" />
                            RV parks
                        </a>
                    </div>
                </div>
            </div>
            <div class="megamenu-section">
                <div class="megamenu-navitem header-main-item" id="megamenu-item2">Ways to Stay</div>
                <div class="megamenu-submenu">
                    <div class="megamenu-submenu-group">
                        <div class="megamenu-submenu-header">
                            Trip Types
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="/plan-your-trip/trip-ideas.html#tent-camping">Tent camping</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="/plan-your-trip/trip-ideas.html#yurt-camping">Yurt camping</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="/plan-your-trip/trip-ideas.html#van-camping">Van camping</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="/plan-your-trip/trip-ideas.html#luxury-camping">Luxury glamping</a>
                        </div>
                    </div>

                    <div class="megamenu-submenu-group">
                        <div class="megamenu-submenu-header">
                            You don’t have to be alone
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="/plan-your-trip/events.html">Events</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="#">Local Communities</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="megamenu-section">
                <div class="megamenu-navitem header-main-item" id="megamenu-item3">Resources</div>
                <div class="megamenu-submenu">
                    <div class="megamenu-submenu-group">
                        <div class="megamenu-submenu-header">
                            Adventure Ideas
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="/plan-your-trip/adventures-hikes.html">Hikes</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="#">Bike Rides</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="#">Motorcycle Rides</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="#">Horse areas</a>
                        </div>
                    </div>
                    <div class="megamenu-submenu-group">
                        <div class="megamenu-submenu-header">
                            About Us
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="/about/index.html" id="about-link">About CampSpots</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="/about/careers.html">Careers</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="#">Accessibility</a>
                        </div>
                    </div>
                    <div class="megamenu-submenu-group">
                        <div class="megamenu-submenu-header">Contribute</div>
                        <div class="megamenu-submenu-link">
                                <a href="/submit-listing.html">Submit Your Spot</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div id="header-login">
            <a href="#">Login</a>
        </div>
    </div>
</div>