
/* Adventure Ideas Pages */
.page-adventure-ideas .page-header {
    background: url(/images/mtbaker-hiking.jpg) no-repeat;
    background-position: top center;
    background-size: auto;
    min-height: 420px;
}
.page-adventure-ideas .layout {
    padding-top: 2em;

    h3 {
        margin-bottom: 1em;
    }
}

