<header id="header">
    <div id="header-nav">
        <div id="header-logo">
            <h1><a href="/exercise4-magnification" class="header-main-item">
                <span class="logo-img">
                    <img src="/images/icons/camp-spots-logo.svg" alt="" />
                </span>
                <span class="logo-text">CampSpots</span>
            </a></h1>
        </div>
        <nav id="header-megamenu">
            <div class="megamenu-section">
                <button class="megamenu-navitem header-main-item" id="megamenu-item1">Plan Your Trip</button>
                <div class="megamenu-submenu">
                    <div class="megamenu-submenu-group">
                        <div class="megamenu-submenu-header">
                            Find Your Adventure
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="#">Find a camping spot</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="#">Events</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="#">Passes</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="#">Trip Ideas</a>
                        </div>
                    </div>
                    <div class="megamenu-submenu-group">
                        <div class="megamenu-submenu-header">
                            Trip Types
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="#">Tent camping</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="#">Yurt camping</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="#">Van camping</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="#">Luxury glamping</a>
                        </div>
                    </div>
                    <div class="megamenu-submenu-image-block">
                        <img src="/images/driving-map.jpg" alt="Driving with a map" />
                        <a href="#" class="megamenu-submenu-linkblock">
                            <img src="/images/icons/icon-map.svg" />
                            All sites
                        </a>
                    </div>
                    <div class="megamenu-submenu-image-block">
                        <img src="/images/rv-parks.jpg" alt="Traveling in a Class C RV" />
                        <a href="#"class="megamenu-submenu-linkblock">
                            <img src="/images/icons/icon-location.svg" />
                            RV parks
                        </a>
                    </div>
                </div>
            </div>
            <div class="megamenu-section">
                <button class="megamenu-navitem header-main-item" id="megamenu-item2">Ways to Stay</button>
                <div class="megamenu-submenu">
                    <div class="megamenu-submenu-group">
                        <div class="megamenu-submenu-header">
                            Trip Types
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="#">Tent camping</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="#">Yurt camping</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="#">Van camping</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="#">Luxury glamping</a>
                        </div>
                    </div>

                    <div class="megamenu-submenu-group">
                        <div class="megamenu-submenu-header">
                            You don’t have to be alone
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="#">Events</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="#">Local Communities</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="#">Feedback</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="megamenu-section">
                <button class="megamenu-navitem header-main-item" id="megamenu-item3">Resources</button>
                <div class="megamenu-submenu">
                    <div class="megamenu-submenu-group">
                        <div class="megamenu-submenu-header">
                            Adventure Ideas
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="#">Hikes</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="#">Bike Rides</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="#">Motorcycle Rides</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="#">Horse areas</a>
                        </div>
                    </div>
                    <div class="megamenu-submenu-group">
                        <div class="megamenu-submenu-header">
                            About Us
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="/exercise4-magnification/about/index.html">About CampSpots</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="#">Careers</a>
                        </div>
                        <div class="megamenu-submenu-link">
                            <a href="#">Accessibility</a>
                        </div>
                    </div>
                    <div class="megamenu-submenu-group">
                        <div class="megamenu-submenu-header">Contribute</div>
                        <div class="megamenu-submenu-link">
                            <a href="#">Submit Your Spot</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div id="header-login">
            <a href="#">Login</a>
        </div>
    </div>
</header>